.btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    /* background: rgba(255, 0, 0, 0.3) url('../images/Button-Play.png') */
    background-image: url(../images/Button-Play.png);
    background-size: 100%;
    opacity: 0.4;
    filter:alpha(opacity=40); /* 针对 IE8 以及更早的版本 */
}
.btn:hover{
    opacity: 0.8;
    filter:alpha(opacity=80); /* 针对 IE8 以及更早的版本 */
}
.left {
    transform: rotate(180deg)
}
.up {
    transform: rotate(270deg)
}
.down{
    transform: rotate(90deg)
}